# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# files not needed to be seen in repository
/.idea
/cmake-build-debug
/CMakeLists.txt
/cpplib